<html ng-app>
<head>
    <title>$Scope is a ViewModel</title>
    
</head>
<body>
    <div ng-controller="SimpleController">
        <input type="text" ng-model="name" />
        <br>
        <ul>
            <li ng-repeat="personName in names | filter:name"> {{ personName.name }} - {{ personName.city }} </li>
        </ul>
    </div>
    
    <script src="angular.min.js"></script>
    <script>
        function SimpleController($scope) {
            
            $scope.names = [
                {name:'Han Han',city:'ShangHai'},
                {name:'Lao Luo',city:'BeiJing'},
                {name:'Dan Wahlin',city:'Arizona'},
                {name:'Tony Stark',city:'WashingtonDC'}
            ];
        }
    </script>
</body>
</html>